@media (max-width: 700px) {
    .articulos {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .articulos {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .carousel-img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .carousel-img {
        width: 100%;
    }
}